importFrom("graphics", "plot", "barplot", "legend", "lines", "par", "points")
importFrom("stats", "aggregate", "rbinom", "sd", "smooth.spline")
importFrom("data.table", "rbind")

export(dtrials,
       dseries,
       dgroups,
       trialdev,
       gayleplot,
       ratioplot
)