importFrom(graphics, "plot")
importFrom("graphics", "barplot", "legend", "lines", "par", "points")
importFrom("stats", "aggregate", "rbinom", "sd", "smooth.spline")

export(dtrials,
       dseries,
       dgroups,
       trialdev,
       gayleplot,
       ratioplot
)